<h1 class="text-center">Voting Stats</h1>

<table class="table table-hover text-center">
	<tr>
  <td>Aggregate</td>
  <td>Total Up</td> 
  <td>Total Down</td>
   <td>Total Voted</td>
	</tr>
	<tr>
	  <td><%= @change.total_votes %></td>
	  <td><%= @change.up_votes %></td> 
	  <td><%= @change.down_votes %></td>
	  <td><%= @change.total_voted %></td>
	</tr>
</table>
