<div class="row">
	<div class="col-sm-6 col-sm-offset-4 ">
		<div class="form-inline">
			<%= form_tag state_path(1), :html => {:role => "form"}, method: :get do %>
			<div class="form-group">
			  <%= text_field_tag :search, params[:search], size: 30, class: "form-control", autofocus: true, required: true, placeholder: "Find Your State" %>
			  <%= submit_tag "Search", class: "btn btn-default" %>
	    </div>
			<% end %>
		</div>

	</div>
</div>
<br />