<!-- <h4 class="text-center">How It Works</h4>

<div class="row main-intro">
	<div class="col-md-3 intro-box">
		<h4>1. Find Changes in your State</h4>
	</div>
	<div class="col-md-3 intro-box">
		<h4>2. Create or Vote on a Viper</h4>
	</div>
	<div class="col-md-3 intro-box">
		<h4>3. Notify your Representative</h4>
	</div>
</div> -->
