<div class-"row">
	<div class="col-sm-8 col-sm-offset-2">
	<h2 class="text-center">Welcome to Viper Voter</h2>
<br />
	<p>Viper Voter is a Ruby on Rails and Javascript application. It pulls in data from the Sunlight Labs API, you can learn more about them here: http://sunlightlabs.com/. This is an MIT licenses open source application built and maintained by Katharine VanderDrift.</p>
</div>
</div>