.muted a {
	color: #D3D3D3;
}

.muted a:hover {
	color: #D3D3D3;
	text-decoration: none;
}

.change_wrapper p {margin: 10px 20px 10px 20px;}

.change_wrapper {
	border: 10px solid #F8F8FF;
	border-radius: 1em;
}

.change_wrapper img {
  border: 10px solid #F8F8FF;
  border-radius: 1em;
}


.change_wrapper .voted {font-size: 20px; margin-top: 10px;}

.change_wrapper:hover {border: 10px solid #001947;}


// previewer




.thumb {
  height: 300px;
  width: 300px;
  border-radius: 2px;
  margin: 10px 5px 0 0;
	border: 5px solid #F8F8FF;
  border-radius: 1em;
}

