
.comment {
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 5px #F8F8FF;
  border-radius: 3px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #fff),
      color-stop(1, #ccc)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #fff 0%,
      #fff 100%
  );
}

.comment .content a {
  color: #000;
  text-decoration: none;
}

.comment .created_at {
  color: #555;
  font-size: 12px;
  float: right;
}

.comment .actions {
  font-size: 12px;
  margin-top: 5px;
}

.comment .actions a {
  text-decoration: none;
}

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}


