.intro-box {
  letter-spacing: 2px;
  margin-top: 25px;
}

.change_wrapper {
	border: 10px solid #F8F8FF;
	border-radius: 1em;
}

.change_wrapper img {
  border: 10px solid #F8F8FF;
  border-radius: 1em;
}

.change_wrapper:hover {border: 10px solid #001947;}