.intro-box {
  border: 1px solid white;
  background-color: white;
  letter-spacing: 2px;
  margin: 0px 40px 0px 40px;
  opacity: .8;
  border-radius: 5px;
}

.main-intro {
	background-color: #7EBF3D;
	padding: 10px 0px 10px 0px;
	border-radius: 5px;
}