
.container {
	padding-top: 60px;
}

nav {
 padding-left: 3em;
}


.navbar-default  {
  color: #7EBF3D;
}

body, input, textarea {
  font-family: Monospace, "Lucida Console", Courier, Georgia,
                 Times, "Times New Roman", serif;
}

// .form-control, .form-control:focus{
// 	border-color: #001947;
	// border-color: 3px solid #001947;
// }

.form-control, .form-control:focus{
	border: 5px solid #F8F8FF;//#rgba(126, 239, 104, 0.8);
	// box-shadow: 0 10px 10px #F8F8FF;//rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	// outline: 0 none;
}

textarea:focus, input[type="text"]:focus, input[type="text-area"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus {   
	box-shadow: 0 1px 1px rgba(0, 25, 71, 1) inset, 0 0 8px rgba(0, 25, 71, 1);
	outline: 0 none;
}

.btn {border: 5px solid #F8F8FF;}

// .btn:active {box-shadow: 0 -1px -1px rgba(0, 25, 71, 1) inset, 0 0 8px rgba(0, 25, 71, 1);}
// .btn:focus  { outline: none; 	-webkit-box-shadow: none !important; 	-moz-box-shadow: none !important; 	box-shadow: none !important; }

.btn:hover {
	box-shadow: 0 1px 1px rgba(0, 25, 71, 1) inset, 0 0 8px rgba(0, 25, 71, 1);
	outline: 0 none;
	background-color: #fff; border: 5px solid #F8F8FF;
}

checkbox {
	border: 2px solid #F8F8FF;
}


a {color: #001947;}
// a:hover {color: red;}

nav {background-color: #fff;}


h1, h2, h3, h4, h5, p, btn, div {color: #523F15;}


.notice {padding-top: 50px; padding-right: 30px; color: #000; font-size: 1.5em;}



